<html>

<head>
    <title>Demo for Audio Recorder</title>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../audio-recorder.js"></script>
    <script src="../lib/html5-recorder.js"></script>
    <script src="../lib/flash-recorder.js"></script>
    <script src="demo.js"></script>
</head>

<body ng-app="recorderDemo" ng-cloak="">
<div ng-controller='DemoController'>
    <h1>Welcome to Recorder Demo </h1>

    <ng-audio-recorder id="mainAudio" audio-model="recorded">
        <div ng-if="recorder.isAvailable">

            <button ng-click="recorder.startRecord()" type="button" ng-disabled="recorder.status.isRecording">
                Start Record
            </button>
            <button ng-click="recorder.stopRecord()" type="button" ng-disabled="recorder.status.isRecording === false">
                Stop Record
            </button>
            <button ng-click="recorder.playbackRecording()" type="button"
                    ng-disabled="recorder.status.isRecording || !recorder.audioModel">
                Play Back
            </button>

            <button ng-click="recorder.save()" ng-disabled="recorder.status.isRecording || !recorder.audioModel">
                 Download
            </button>

            <div ng-show="recorder.status.isRecording">
                <ng-audio-recorder-analyzer></ng-audio-recorder-analyzer>
            </div>
            <br/>
            <div ng-show="!recorder.status.isRecording && recorder.audioModel">
                <ng-audio-recorder-wave-view wave-color="yellow" bar-color="red"></ng-audio-recorder-wave-view>
            </div>
            <br/>

            <h2 style="font-family: sans-serif; text-align: center; width: 60px; border-radius: 20px;
        border: solid 2px #333; padding: 20px 10px;" ng-if="recorder.status.isRecording">
                {{recorder.elapsedTime > 10 ? recorder.elapsedTime : ('0'+recorder.elapsedTime)}}
            </h2>

        </div>


        <div ng-if="!recorder.isAvailable">
            Your browser does not support this feature natively, please use latest version of <a href="https://www.google.com/chrome/browser" target="_blank">Google Chrome</a> or <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Mozilla Firefox</a>. If you're on Safari or Internet Explorer, you can install <a href="https://get.adobe.com/flashplayer/">Adobe Flash</a>  to use this feature.
        </div>
    </ng-audio-recorder>

</div>
</body>
</html>
